# Dependencies
node_modules/
vendor/

# Laravel
.env
.env.backup
.env.production
storage/app/private/
storage/framework/cache/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
storage/logs/
storage/pail
storage/*.key
bootstrap/cache/
public/hot
public/storage
public/build
bootstrap/cache
# PHP
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json
Homestead.json
Homestead.yaml

# OS & editor
.DS_Store
Thumbs.db
/.idea
/.fleet
/.nova
/.vscode
/.zed
*.swp
*.swo

# Misc
*.log
*.cache
